---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import { WRITING } from "@consts";
import Layout from "@layouts/Layout.astro";

const allPosts = await getCollection("writing", ({ data }) => !data.draft);
const tags = [
	...new Set(allPosts.flatMap((post) => post.data.tags || [])),
].sort();
---

<Layout title={`Tags - ${WRITING.TITLE}`} description="All tags">
	<Container>
		<div class="space-y-10">
			<!-- Tags -->
			<section class="animate space-y-2">
				<p class="text-[#8C8A88] dark:text-gray-400">
					All Tags
				</p>
				<div class="leading-relaxed">
					{tags.map((tag, index) => (
						<>
							<a
								href={`/tags/${tag}`}
								class="text-[#2C2A28] hover:text-[#588285] transition-colors dark:text-white dark:hover:text-[#6B9B9E]"
							>
								{tag}
							</a>
							{index < tags.length - 1 && (
								<span class="text-[#8C8A88] dark:text-gray-500">, </span>
							)}
						</>
					))}
				</div>
			</section>
		</div>
	</Container>
</Layout>
