---
import { cn } from "@lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---

<a
	href={href}
	class={cn(
		'header-nav-link',
		'hover:text-[#588285] dark:hover:text-[#6B9B9E]',
		'hover:cursor-pointer transition-all duration-300 ease-in-out',
		isActive
			? 'text-[#2C2A28] dark:text-white font-medium'
			: 'text-[#8C8A88] dark:text-gray-500 font-medium'
	)}
	data-nav-link
	{...props}>
	<slot />
</a>
