---
import { getCollection } from "astro:content";

const allPosts = await getCollection("writing");
const allTags = allPosts.flatMap((tag) => tag.data.tags);

console.log(allTags);
---

<span> </span>
